* {
  margin: 0;
  padding: 0;
}

.contact {
  display: flex;
  text-decoration: none;
  color: black;
  gap: 10px;
}
.photobox {
  display: flex;
  width: 100%;
}
.flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0px 200px 0px 200px;
}

.product {
  background-color: white;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titre {
  padding-bottom: 32px;
  margin-left: 2%;
}

.flex-co {
  display: flex;
  gap: 30px;
  margin-left: 3%;
  font-weight: bold;
}
.btn {
  color: white;
  background-color: black;
  width: 150px;
  height: 30px;
}

.color {
  color: gold;
  font-weight: bold;
}

.style {
  font-weight: bold;
  text-decoration: line-through;
}

.bouton-pour {
  color: gold;
  font-weight: bold;
  background-color: black;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  margin-top: 0px;
}

.bouton-pour1 {
  color: gold;
  font-weight: bold;
  background-color: black;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  margin-right: 100%;
}

.content-flex {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 100px;
  margin-right: 200px;
  justify-content:center;
  padding-bottom: 100px;
  background-color: white;
}
