* {
  padding: 0;
  background-color: gray;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}
.list {
  display: flex;
  gap: 16px;
}

.list li {
  list-style: none;
}
.list a {
  text-decoration: none;
}

section {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 20px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}
